@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: "provoke";
  src: url("/src/fonts/Provoke-Inline-Thin.ttf");
}



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}


/*Style for search bar*/


custom-input-css {
  -moz-appearance: none;
  -webkit-appearance: none;
}



/*Style for transition search bar */


.transitionSearchBar {
  transition: all 0.5s;
}

/* Style for box shadow (hover search bar)*/


.customKitShadow {
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.74);
}







/*Style for hamburger menu*/

@media screen and (max-width:1024px) {

  .show-nav {
    right: 0;
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 300ms;
  }

  .hide-nav ul {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 300ms, opacity 300ms;
  }

  .burger-bar, .burger-bar::before, .burger-bar::after {
    display: block;
    width: 40px;
    height: 1px;
    position: relative;
    border-radius: 3px;
    background: white;
    transition: all .5s ease-in-out;
  }

  .burger-bar::before, .burger-bar::after {
    content:"";
    position: absolute;
    left: 0;
  }

  .burger-bar::before {
    transform: translateY(-12px);
  }


  .burger-bar::after {
    transform: translateY(12px);
  }

  .show-nav .burger-bar::before {
    transform: rotate(45deg);
  }

  .show-nav .burger-bar {
    background: transparent;
  }

  .show-nav .burger-bar::after {
    transform: rotate(-45deg);
  }


  .navbar-item:after {
    margin-top: 15px !important;
    content:"";
    display: block;
    margin: 0 auto;
    width: 3vw;
    height: 1px;
    background-color: white;
  }

  .navbar-item:last-child:after {
    display: none;
  }

  .navbar-item {
    transition: all .2s ease-in-out;
  }

  .navbar-item:hover {
    transition: all .2s ease-in-out;
    transform: scale(1.1);
  }





}
